version: "3"
services:
  mosquitto: #see https://techoverflow.net/2021/11/25/how-to-setup-standalone-mosquitto-mqtt-broker-using-docker-compose/
    image: eclipse-mosquitto:latest
    container_name: mosquitto
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./conf:/mosquitto/config
      - ./data:/mosquitto/data
      - ./log:/mosquitto/log
    networks:
      m321_sq2:
            
  grafana:
    image: grafana/grafana-oss:latest
    ports:
      - "3000:3000"
    networks:
      m321_sq2:
      

networks:
  m321_sq2: